* {
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    color: brown;
    background-color: grey;
}

#ejemploNegritas {
    font-weight: bold;
}

.ejhg {
    width: 180px;
    height: 180px;
    background-color: brown;
    position: relative;
}

.ejhg .dummy {
    position: relative;
    z-index: -1;
}

.ejhg:hover {
    width: 200px;
    height: 200px;
}

.ejhg:active {
    background-color: aqua;
}

body .ejhg .dummy {
    background-color: black;
}

body .ejhg .dummy {
    width: 90%;
    height: 90%;
    background-color: blueviolet;
}

.ejhg>p {
    background-color: aquamarine;
    border: solid black 5px;
    width: 80%;
}

/* nhhkbchdjkbchdskj */

body .ejhg>P {
    width: 80%;
    height: 80%;
    background-color: green;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ejemploFlex {
    background-color: #8FD5A6;
    flex-grow: 5;
    min-width: 400px;
}